*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;   
}
body{
    width: 100%;
}
h1{
    font-size: 3rem;
    line-height: 4rem;
    color: #222;
}

h2{
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: #222;
}

h4{
    font-size: 1.25rem;
    color: #222;
}

h6{
    font-size: .75rem;
    font-weight: 700;
}

p{
    font-size: 1rem;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}

button.btn-normal{
    font-size: 1rem;
    font-weight: 600;
    padding: .75em 1.5em;
    background-color: #fff;
    color: #060606;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}
button.btn-white{
    font-size: 1rem;
    font-weight: 600;
    padding: .5em 1em;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0,  0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
    padding: 0 1em;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: #1a1a1a;
    transition: .3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;   
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile,
#close{
    display: none;
    align-items: center;
}
/* home page*/
#hero{
    background-image: url(images/hero4.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#hero h4{
    padding-bottom: 1em;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url(images/button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    color: #088178;
    padding:14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}
#feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#feature .fea-box{
    width: 180px;
    padding: 2em 1em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 1em 0;
}
#feature .fea-box:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#feature .fea-box img {
    width: 100%;
    margin-bottom: 1em;
}
#feature .fea-box h6{
    display: inline-block;
    padding: .5em 1em;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fea-box:nth-child(2) h6{
   background-color: #cdebbc;
}
#feature .fea-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fea-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fea-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fea-box:nth-child(6) h6{
    background-color: #fff2e5;
}
#product1{
    text-align: center;
}
.pro-container{
    display: flex;
    padding-top: 1em;
    align-items: center;
    justify-content: start;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: .5em .75em;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin:1em 2em;
    transition: .2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 1em 0;
}
#product1 .pro .des span{
    color: #060606;
    font-size: 1rem;
}   
#product1 .pro .des h5{
    color: #1a1a1a;
    padding-top: .5em;
    font-size: .85rem;
}
#product1 .pro .des h4{
    padding-top: .5em;
    font-size: 1rem;
    font-weight: 700;
    color: #088178;

}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #cce7d0;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#banner{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/banner/b2.jpg);
    background-size: cover;
    background-position: center;
}
#banner h4,
#banner h2{
    color: #fff;
    text-shadow: 2px 2px 8px #060606;
}
#banner h2{
    margin: .25em;
}
#banner h2 span{
    color: #ef3636;
}
#banner button:hover{
    color: #fff;
    background-color: #088178;
}

#sm-banner,
#banner3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sm-banner .banner-box,
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background-position: center;    
    padding: 1em;
}
#sm-banner .banner-box{
    min-width: 45%;
    height: 50vh;
    background-image: url(images/banner/b17.jpg);   
}

#sm-banner .banner-box2{
    background-image: url(images/banner/b10.jpg);
}

#sm-banner .banner-box h4,
#sm-banner .banner-box h2,
#sm-banner .banner-box span,
#banner3 .banner-box h2,
#news-letter .news-text h4{
    color: #fff;
    text-shadow: .5px .5px 1px #060606;
}
#sm-banner .banner-box h4{
    font-size: 1.5rem;
    font-weight: 300;
}
#sm-banner .banner-box h2{
    font-size: 2.5rem;
    font-weight: 800 ;
}
#sm-banner .banner-box span{
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: 500;
}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}
#banner3 .banner-box{
    min-width: 24%;
    height: 30vh;
    background-image: url(images/banner/b7.jpg);
    margin-bottom: 1em;
}
#banner3 .banner-box2{
    background-image: url(images/banner/b4.jpg);
}

#banner3 .banner-box3{
    background-image: url(images/banner/b18.jpg);
}
#banner3 .banner-box h2{
    font-size: 2rem;
    font-weight: 900;
}
#banner3 .banner-box h3{
    color: #060606;
}
#news-letter{
    background-image: url(images/banner/b14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #041e42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#news-letter .news-text h4{
    font-size: 2rem;
    font-weight: 700;
}
#news-letter .news-text p{
    color: #818ea0;
    font-weight: 600;
}
#news-letter .news-text p span{
    color: #ef3636;
}
#news-letter .news-input{
    display: flex;
    width: 40%;
}
#news-letter .news-input input{
    font-size: 1rem;
    height: 3.125rem;
    padding: 0 1.25em;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    outline: none;
}
#news-letter .news-input button{
    color: #fff;
    background-color: #088178;
    white-space: nowrap;
    border-radius: 0 4px 4px 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}
footer .logo{
    margin-bottom: 2em;
}
footer h4{
    font-size: 1rem;
    padding-bottom: 1em;
}
footer p,
footer a{
    font-size: .90rem;
    margin-bottom: .5em;
}

footer a{
    text-decoration: none;
    color: #222;
}
footer .follow{
    margin-top: 1em;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 4px;
    cursor: pointer;
}
footer .install img{
    margin: .5em 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
/*shop page*/

#page-header{
    background-image: url(images/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page-header h2,
#page-header p{
    color: #fff;
    text-align: center;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    color: #fff;
    background-color: #088178;
    padding: .5em .75em;
    border-radius: 4px;
    font-weight: 600;
}
#pagination a i{
    font-size: 1rem;
    font-weight: 600;
}

/* product detail page*/
#pro-details{
    display: flex;
    margin-top: 3em;
}
#pro-details .single-pro-image{
    width: 40%;
    margin-right: 3em;
}
#pro-details .single-pro-image .small-image-group{
    display: flex;
    justify-content: space-between;
}
.small-image-group .small-image-col{
    flex-basis: 24%;
    cursor: pointer;
}
#pro-details .single-product-details{
    width: 50%;
    padding-top: 2em;
}
#pro-details .single-product-details h4{
    padding: 2em 0 1em 0;
}

#pro-details .single-product-details h2{
    font-size: 1.75rem;
}
#pro-details .single-product-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#pro-details .single-product-details input{
    width: 40px;
    height: 35px;
    padding-left: 10px;
    font-size: 1rem;
    margin-right: 10px;
}
#pro-details .single-product-details input:focus{
    outline: none;
}
#pro-details .single-product-details button{
    background-color: #088178;
    color: #fff;
}
#pro-details .single-product-details span{
    line-height: 25px;
}

/* blog page */
#page-header.blog-header{
    background-image: url(images/banner/b19.jpg);
    background-position: center;
}
#blog{
    padding: 8em 8em 0 8em;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 4em ;
    position: relative;
}
#blog .blog-img{
    width: 50%;
    margin-right: 3em;
}
#blog img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

#blog .blog-detail{
    width: 50%;
}

#blog .blog-detail a{
    font-size: .75rem;
    text-decoration: none;
    color: #060606;
    font-weight: 900;
    position: relative;
    transition: 0.3s;
}
#blog .blog-detail a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #060606;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-detail a:hover{
    color: #088178;
}
#blog .blog-detail a:hover:after{
    background-color: #088178;
}
#blog h1{
    color: #c9cbce;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -9;
    font-weight: 700;
    font-size: 4rem;
}

/* about page */
#page-header.about-header{
    background-image: url(images/about/banner.png);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
}
#about-head div{
    padding-left: 3em;
}
#about-app{
    text-align: center;
}
#about-app a{
    color: #041e42;
}
#about-app .video{
    width: 70%;
    margin: 2em auto 0 auto;
}
#about-app .video video{
    width: 100%;
    border-radius: 20px;
}

/* contact page */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: .85rem;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 2rem;
    line-height: 1;
    padding: .5em 0;
}

#contact-details .details h3{
    font-size: 1.25rem;
    padding-bottom: 1em;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: .5em 0;
}
#contact-details .details li i{
    padding-right: 1.5em;
}
#contact-details .details li p{
    margin: 0;
}
#contact-details .map{
    width: 50%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #088178;
    margin: 3em;
    padding: 4em;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #088178;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}
#form-details .people .people-detail{
    padding-bottom: 25px;
    display: flex;
}
#form-details .people .people-detail img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people .people-detail p{
    line-height: 25px;
    margin: 0;
}
#form-details .people .people-detail span{
    display: block;
    font-weight: 600;
    color: #000;
}

/* cart page */
#cart{
    overflow-x: auto;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap ;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 200px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 50px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-right: none;
    border-left: none;
}
#cart table thead td{
    font-weight: 700;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody tr td a{
    color: #000;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    width: 60%;
    outline: none;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 10px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}



@media (max-width :799px){
    .section-p1{
        padding: 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -350px;
        height: 100vh;
        width: 40%;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 6em 0 0 1em;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 1.5em;
    }
    
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 1.25rem;
        padding-left: 1em;
    }
    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 1.25rem;
        display: initial;
    }
    #shopping-cart{
        display: none;
    }
    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0px 6em;
     }
     #feature{
        justify-content: center;
     }
     #feature .fea-box{
        margin:1em;
     }
    #product1 .pro {
        margin: 1em;
    }
    #banner {
        height: 20vh;
    }
    #banner h2 {
        margin: 0.25em;
        font-size: 2.5rem;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 30%;
    }
    #banner3 .banner-box h2 {
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.5;
    }
    #news-letter {
        display: block;
    }
    #news-letter .news-input {
        width: 60%;
    }

    /* conatct us page */
    #form-details {
        padding: 2em;
    }
    #form-details form {
        width: 50%;
    }
}


@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }
    #navbar {
        width: 50%;
    }
    #header {
        padding: 1em;
    }
    h2 {
        font-size: 2rem;
    }
    h1 {
        font-size: 2.5rem;
    }   
    #hero {
        background-position: top 25% right 30%;
        padding: 0 1em;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fea-box {
        width: 155px;
        margin:0 0 1em 0;
    }
    #product1 .pro {
        width: 100%;
     }
     #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 1em;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #news-letter .news-input {
        width: 100%;
    }
    #news-letter {
        padding: 2em 1em;
    }
    /* sproduct page*/
    #pro-details {
        display: flex;
        flex-direction: column;
    }
    #pro-details .single-pro-image {
        width: 100%;
        margin-right: 0;
    }
    #pro-details .single-product-details {
        width: 100%;
    }
    /* blog page */
    #blog {
        padding: 4em 1em 0 1em;
    }
    #blog .blog-box {
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1em;
    }
    #blog .blog-detail {
        width: 100%;
    }
    /* about page */
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 1em;
    }
    #about-head div {
        padding-left: 0;
    }
    #about-app .video {
        width: 100%;
    }
    /* contact us page */
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 2em;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        border: 1px solid #088178;
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 2em;
    }
    /* cart page */

    #cart-add {
    flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }
}